@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.container {
  background-image: url("images/pattern-bg.svg");
  /* background-color: aliceblue; */
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
}
p {
  font-size: 32px;
  font-family: "Inter";
  font-weight: 300;
}
.card {
  display: flex;
  /* flex-wrap: wrap; */
  width: 70%;
  margin: auto;
  /* background-color: white; */
  border-radius: 30px;
  /* box-shadow: 2px 2px 6px rgb(233, 233, 233); */
  padding: 50px;
}

.slider-button {
  position: absolute;
  right: 29em;
  top: 36em;
  background-color: white;
  border-radius: 30px;
  box-shadow: 1px 1px 8px lightgrey;
}
.slider-button button.prev {
  background-color: white;
  border-radius: 20px 0 0 20px;
  border: 1px solid white;
  padding: 10px 14px 5px 14px;
}
.slider-button button.next {
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid white;
  padding: 10px 14px 5px 14px;
}

.testimonial {
  position: absolute;
  float: left;
  width: 60%;
  left: 47px;
  top: 12em;
}
.img {
  float: right;
  width: 0%;
}
@media (max-width: 500px) {
  .person-img {
    width: 80% !important;
    margin: auto;
  }
  .slider-button {
    position: absolute;
    right: 13em !important;
    top: 26em !important;
  }
  .card {
    width: 100%;
  }
  p {
    font-size: 20px;
  }
  .testimonial {
    text-align: center;
    width: 90% !important;
    left: 18px;
    top: 31em;
  }
  .img {
    width: 100%;
  }
}
